@model Geovanni.Biblioteca.MVC.Models.NuevoPrestamoModel
@{
    ViewBag.Title = "Nuevo Prestamo";
}

<h2>Nuevo Prestamo</h2>

@{
    using (Html.BeginForm("AgregarPrestamo", "Prestamos", FormMethod.Post))
    {
        <label>Estudiante:</label>
        <br />
        @Html.DropDownListFor(model => model.IdEstudiante, (IEnumerable<SelectListItem>)ViewBag.Estudiantes, "Seleccione...")
        <br />
        <label>Libro:</label>
        <br />
        @*@Html.DropDownList("ddlLibro", (IEnumerable<SelectListItem>)ViewBag.Libros, "Seleccione...")*@
        @Html.DropDownListFor(model => model.IdLibro, (IEnumerable<SelectListItem>)ViewBag.Libros, "Seleccione...")
        <br />
        <label>Fecha de Prestamo:</label>
        <br />
       @Html.EditorFor(model => model.FechaPrestamo, new { htmlAttributes = new { @class = "form-control", id = "txtFechaPrestamo" } })
        <label>Fecha de Devolución:</label>
        <br />
       @Html.EditorFor(model => model.FechaDevolucion, new { htmlAttributes = new { @class = "form-control", id = "txtFechaDevolucion" } })
        <br />
        <input type="submit" value="Agregar Prestamo" />
    }
}
